<h3>{{item.name}} <span *ngIf="item.category === 'Farms'">Farm</span> cost :
  <span *ngFor="let c of item.price; let last = last;">{{c.qty}} {{c.consumable.name}}
    <span *ngIf="!last">and </span>
  </span>

  <span *ngIf="item.ratio">
  - each {{item.name}} add {{ 1*item.ratio }} Beers/second in bank
  </span>

  <span *ngIf="item.category === 'Farms'">
    bank : {{item.bank.qty}}
  </span>
</h3>
<button type="button" (click)="buy(item, 10)">buy 10 {{item.name}}</button>
<button type="button" (click)="buy(item)">buy {{item.name}}</button>
<button type="button" (click)="sell(item)">sell {{item.name}}</button>
<button type="button" (click)="sell(item, 10)">sell 10 {{item.name}}</button>
