<div class="item">
  <div class="item-infos">
    <h3 class="item-title"
        title="each {{item.name}} add {{ 1*item.ratio }} Beers/second">{{item.name}} ({{item.qty}})
      <span *ngIf="item.category === 'Farms'">Farm</span>
    </h3>

    <p class="stats">
      Price: {{item.price}} Beers.
    </p>

    <p class="item-stats"
       *ngIf="item.category === 'Farms'">
      Bank: {{item.bank.qty}}
    </p>
  </div>


  <div class="item-buttons">
    <button type="button"
            class="item-button item-button--buy"
            (click)="buy(item)"
            [disabled]="!isBuyable(item.price)"
            title="Buy 1 item">x1
    </button>
    <button type="button"
            class="item-button item-button--sell"
            (click)="sell(item)"
            [disabled]="item.qty < 1"
            title="Sell 1 item">x1
    </button>
    <button type="button"
            class="item-button item-button--buy"
            (click)="buy(item, 10)"
            [disabled]="!isBuyable(item.price, 10)"
            title="Buy 10 of this item">x10
    </button>
    <button type="button"
            class="item-button item-button--sell"
            (click)="sell(item, 10)"
            [disabled]="item.qty < 10"
            title="Sell 10 of this item">x10
    </button>
  </div>
</div>
