.popin {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  min-height: 500px;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #ffffff;

  &--visible {
    display: block;
  }

  &-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}

//Todo: externalize list css component ?
.list {
  &-item {
    margin-top: 30px;
    cursor: pointer;

    &:first-child {
      margin-top: 0;
    }
  }
}

//TODO: externalize perkInfo component ?
.perkImage,
.perkInfos {
  display: inline-block;
  vertical-align: middle;
}

.perkImage {
  overflow: hidden;
  width: 60px;
  height: 60px;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 50%;
  background: none;

  img {
    width: 100%;
  }
}

.perkName {
  font-size: 18px;
}

.perkMessage {
  margin-top: 5px;
  font-size: 16px;
}