<!-- TODO: généraliser la popin pour qu'elle soit réutilisable -->
<div class="popin" [ngClass]="{'popin--visible': popinIsVisible}">
  <div class="popin-close" (click)="closePopin()">
    X
  </div>
  <div class="list">
    <div class="list-item"
         *ngFor="let perk of player.resources.perks"
         (click)="setPerk(perk)">
      <button class="perkImage" [disabled]="!perk.unlocked">
        <img [src]="'./assets/images/perks/' + perk.image">
      </button>

      <div class="perkInfos">
          <p class="perkName">
            {{perk.name}}
          </p>
          <p class="perkMessage">
            {{perk.bonusMessage}}
          </p>
      </div>
    </div>
  </div>
</div>
