<div class="perks perks--left">
  <div *ngFor="let perk of perks; let index = index;">
    <span class="perks-item" [ngClass]="{'perks-item--locked': !perk.unlocked}" *ngIf="index < 4">
      <span class="perks-icon" *ngIf="perk.unlocked" (click)="addPerk()">{{perk.name}}</span>
    </span>
  </div>
</div>

<div class="perks perks--right">
  <div *ngFor="let perk of perks; let index = index;">
    <span class="perks-item" [ngClass]="{'perks-item--locked': !perk.unlocked}" *ngIf="index > 4">
      <span class="perks-icon" *ngIf="perk.unlocked" (click)="addPerk()">{{perk.name}}</span>
    </span>
  </div>
</div>
