<div class="perkSlot perkSlot--left">
  <div *ngFor="let perkSlot of perkSlots; let index = index;">
    <span class="perkSlot-item" *ngIf="index <= 3">
      <span class="perkSlot-icon" *ngIf="perkSlot.unlocked" (click)="addPerk(perkSlot.id)">
        <img src="./assets/images/perks/addPerk.png" *ngIf="!perkSlot.assignedPerk">
        <img src="./assets/images/perks/{{perkSlot.assignedPerk.image}}" *ngIf="perkSlot.assignedPerk">
      </span>

      <span class="perkSlot-icon" *ngIf="!perkSlot.unlocked">
        <img src="./assets/images/perks/locker.jpg">
      </span>

      <span *ngIf="perkSlot.assignedPerk"
            class="perkSlot-remove"
            (click)="removePerk(player, perkSlot.id)">x</span>
    </span>
  </div>
</div>

<div class="perkSlot perkSlot--right">
  <div *ngFor="let perkSlot of perkSlots; let index = index;">
    <span class="perkSlot-item" [ngClass]="{'perkSlot-item--locked': !perkSlot.unlocked}" *ngIf="index > 3">
      <span class="perkSlot-icon" *ngIf="perkSlot.unlocked" (click)="addPerk(perkSlot.id)">
        <img src="./assets/images/perks/addPerk.png" *ngIf="!perkSlot.assignedPerk">
        <img src="./assets/images/perks/{{perkSlot.assignedPerk.image}}" *ngIf="perkSlot.assignedPerk">
      </span>

      <span class="perkSlot-icon" *ngIf="!perkSlot.unlocked">
        <img src="./assets/images/perks/locker.jpg">
      </span>

      <button *ngIf="perkSlot.assignedPerk"
            class="perkSlot-remove"
            (click)="removePerk(player, perkSlot.id)">x</button>
    </span>
  </div>
</div>

<ng-popin [(popinIsVisible)]="popinIsVisible" [(player)]="player" [(perkSlotId)]="perkSlotId"></ng-popin>
