<div class="store store--left">
  <app-upgrade [(player)]="player"></app-upgrade>

  <div *ngFor="let farm of player.resources.farms">
    <div *ngIf="farm.unlocked">
      <app-item [player]="player" [item]="farm" [(totalFarmsAllTime)]="totalFarmsAllTime"></app-item>
    </div>
  </div>

  <div class="appVersion">
    Version: {{appVersion}}
  </div>
</div>

<div class="main">
  <div class="event" *ngIf="standBy">
    <app-event [(player)]="player" [standBy]="standBy"></app-event>
  </div>

  <div class="clickZone">
    <app-perk [(player)]="player" *ngIf="standBy"></app-perk>

    <app-click-zone [(player)]="player" [(totalBeersAllTime)]="totalBeersAllTime"></app-click-zone>
  </div>

  <h2 class="money">{{player.resources.beers.qty}} Beers</h2>

  <div class="stats">
    <h3>Stats</h3>
    <ul>
      <li>Total of Beers {{totalBeersAllTime || 0}}</li>
      <li>Total of Breweries {{totalBreweries || 0}}</li>
      <li>Total of Farms {{totalFarms || 0}}</li>
    </ul>
  </div>
</div>

<div class="store store--right">
  <div *ngFor="let brewery of player.resources.breweries">
    <div *ngIf="brewery.unlocked">
      <app-item [player]="player" [item]="brewery" [(totalBreweriesAllTime)]="totalBreweriesAllTime"></app-item>
    </div>
  </div>
</div>
