<div class="store store--left">
  <ng-upgrade [(player)]="player"><ng-upgrade>

  <div *ngFor="let farm of player.resources.farms">
    <div *ngIf="farm.unlocked">
      <ng-item [player]="player" [item]="farm" [(totalFarmsAllTime)]="totalFarmsAllTime"><ng-item>
    </div>
  </div>

  <div class="appVersion">
    Version: {{appVersion}}
  </div>
</div>

<div class="main">
  <div class="event">
    <ng-event [(player)]="player"><ng-event>
  </div>

  <div class="clickZone">
    <ng-perk [(player)]="player"><ng-perk>

    <ng-click-zone [(player)]="player" [(totalBeersAllTime)]="totalBeersAllTime"><ng-click-zone>
  </div>

  <h2 class="money">{{player.resources.beers.qty}} Beers</h2>

  <div class="stats">
    <h3>Stats</h3>
    <ul>
      <li>Total of Beers {{totalBeersAllTime || 0}}</li>
      <li>Total of Breweries {{totalBreweries || 0}}</li>
      <li>Total of Farms {{totalFarms || 0}}</li>
    </ul>
  </div>
</div>

<div class="store store--right">
  <div *ngFor="let brewery of player.resources.breweries">
    <div *ngIf="brewery.unlocked">
      <ng-item [player]="player" [item]="brewery" [(totalBreweriesAllTime)]="totalBreweriesAllTime"><ng-item>
    </div>
  </div>
</div>
