<div class="store">
  <app-upgrade [(player)]="player"></app-upgrade>

  <div *ngFor="let farm of player.resources.farms;"> <!-- TODO : change this for farms -->
    <div *ngIf="farm.unlocked">
      <h2>Stock : {{farm.qty}} {{farm.name }}</h2>
      <app-item [item]="farm"></app-item>
    </div>
  </div>

  <div class="appVersion">
    Version: {{appVersion}}
  </div>
</div>

<div class="main">
  <div class="event">
    <app-event [(player)]="player"></app-event>
  </div>

  <div class="clickZone">
    <app-perk [(player)]="player"></app-perk>

    <app-click-zone [(player)]="player" [(totalBeersAllTime)]="totalBeersAllTime"></app-click-zone>
  </div>

  <div class="stats">
    <h2>Player's Breweries produced : {{player.resources.beers.qty}} Beers</h2>

    totalBeersAllTime
    {{totalBeersAllTime || 0}}
    <br>

    totalBreweries
    {{totalBreweries || 0}}
    <br>
    totalBreweriesAllTime
    {{totalBreweriesAllTime}}
    <br>

    totalFarms
    {{totalFarms || 0}}
    <br>
    totalFarmsAllTime
    {{totalFarmsAllTime}}
  </div>
</div>

<div class="store">
  <div *ngFor="let brewery of player.resources.breweries">
    <div *ngIf="brewery.unlocked">
      <h2>Stock : {{brewery.qty}} {{brewery.name }}</h2>
      <app-item [player]="player" [item]="brewery" [(totalBreweriesAllTime)]="totalBreweriesAllTime"></app-item>
    </div>
  </div>
</div>
